# [submodule "ios-common"]
# 	path = ios/common
# 	url = https://github.com/foreach-spark/background-geolocation-ios.git
[submodule "android-common"]
	path = android/common
	url = https://github.com/foreach-spark/background-geolocation-android.git
